<div
  class="button flex items-center justify-between rounded-full border-4 border-[#353C4A] bg-[#181E29] p-2"
>
  <div class="flex items-center gap-4">
    <img class="ml-4" src="link.svg" alt="link icon" />
    <input
      class="border-none p-2 focus:ring-0"
      type="text"
      name="link"
      id="link"
      placeholder="Enter the link here"
    />
  </div>

  <button
    id="submitLinkButton"
    class="rounded-full bg-lsdarkblue px-4 py-2 text-white hover:bg-lsblue"
    >Shorten</button
  >
</div>
<style>
  input {
    background: transparent;
  }
</style>
